/*  your css code here. If applicable */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 80px;
    font-family: Arial, sans-serif;
}

.left {
    width: 450px;
}

.left h1 {
    font-size: 70px;
    font-weight: bold;
    color: #1877f2;
    margin-bottom: 10px;
}

.left p {
    font-size: 22px;
    color: #1c1e21;
}

.right form {
    display: flex;
    width: 360px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px #ccc;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

form img {
    width: 200px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
}

button {
    background-color: #1877f2;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    font-size: 17px;
    color: white;
    cursor: pointer;
    border: none;
}

form a {
    text-decoration: none;
    color: #1877f2;
    font-size: 15px;
}

.signup {
    background-color: #42b72a;
    font-size: 17px;
    margin-top: 5px;
}
