/*  your css code here. If applicable */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
    font-family: Arial, sans-serif;
}

.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
}

.left img {
    width: 300px;
}

.left p {
    font-size: 24px;
    color: #1c1e21;
    margin-top: -10px;
}

.right form {
    display: flex;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #1877f2;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

form a {
    text-decoration: none;
    color: #1877f2;
    text-align: center;
    font-size: 14px;
}

.signup {
    background-color: #42b72a;
    margin-top: 15px;
    padding: 12px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
