/*  your css code here. If applicable */
body{
	background-color:#f6f6f6;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	gap:50px;
}
.left{
	width:450px;
	display:inline-block;
	margin-top:70px;
	font-size:20px;
}
.right form{
	display:flex;
	width:300px;
	background-color:white;
	padding:20px;
	border-radius:5px;
	box-shadow: 0 0 10px #ccc;
	flex-direction:column;
	gap:10px;
}
.right button[type="submit"]{
	background-color:#1877f2;
	border-radius:5px;
	padding:10px 20px;
	width:100%;
	color:white;
	border:none;
	font-weight:bold;
	cursor:pointer;
	
	
}https://www.svgrepo.com/show/345223/three-dots-vertical.svg
.right a{
	text-decoration:none;
	color:#1877f2;
	text-align:center;
}
.signup{
	background-color:#42b72a;
	border-radius:5px;
	margin-top:15px;
	padding:10px 20px;
	width:100%;
	color:white;
	font-weight:bold;
	border:none;
	cursor:pointer;
}




















